@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* overflow: hidden; */
}

body {
    width: 100%;
    /* height: auto; */
}

nav {
    background-color: green;
    /* width: 10cm; */
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1rem 4rem;
    height: 20vh;
}

nav a {
    padding-left: 20px;
}

nav h1 {
    font-size: 2rem;
}


/* nav h1 {
    align-self: flex-end;
} */

a {
    text-decoration: none;
}


/* css units */


/* 
1- static
px, cm, mm

2- relative نسبية
%
vw, vh
rem / em


*/

header {
    background-color: blue;
    height: 80vh;
    display: flex;
    align-items: flex-end;
}

footer {
    background-color: rgb(19, 104, 104);
    color: rgb(124, 107, 85);
    height: 33vh;
    position: relative;
}


/* #social-media {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
    background: #000;
} */

#social-media {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}

#social-media svg {
    width: 2rem;
}

.bg {
    height: 100vh;
    background: gold;
}

.red {
    background: red;
}

header h1 {
    font-size: 4rem;
}

header p {
    font-size: 1.4rem;
}

#courses {
    padding: 3rem 0;
}

#courses h2 {
    text-align: center;
}

#courses article img {
    width: 100px;
}

#courses article {
    border: 2px solid #000;
    /* padding: top right bottom left */
    /* padding: top/bottom right/left */
    padding: 2rem 0;
    display: flex;
    align-items: center;
    width: 60vw;
    margin: 30px auto;
    transition-duration: .4s;
}

#courses article:hover {
    background: gray;
    cursor: pointer;
    font-size: 1.2em;
    color: gold;
}

@media only screen and (max-width: 600px) {
    #courses article {
        width: 90vw;
    }
}